nav.navbar.navbar-default {
    background: rgba(0, 0, 0, 0.65);
    border: none;
    padding: 0 !important;    
}

.navbar-default .navbar-nav>.active>a {
    color: #f91f6f;
    background-color: transparent;
}

a.navbar-brand h3 {
    font-size: 48px;
    color: #fff;
    letter-spacing: 1px;
    font-family: 'Alex Brush', cursive;
    margin: 0 !important;
    line-height: 30px !important;
}

.tr-color-selected {
    background-color: hsla(196, 77%, 55%, 0.3) !important;
    transition: all .2s ease-in;
}

.md-form {
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.md-form input {
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline: 0;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    box-sizing: content-box;
    background-color: transparent;
}

.md-form .validate {
    margin-bottom: 2.5rem;
}

.md-form .form-control {
    margin: 0 0 .5rem 0;
    padding: .3rem 0 .55rem 0;
    height: auto;
}

button, input {
    overflow: visible;
    outline: none;
}

.md-form input:focus {
    box-shadow: 0 1px 0 0 #4285f4;
    border-bottom: 1px solid #4285f4;
}

.md-form label {
    position: absolute;
    top: .65rem;
    left: 0;
    transition: .2s ease-out;
    cursor: text;
    color: #757575;
    font-size: 1rem;
    display: inline-block;
    margin-bottom: .5rem;
}

.md-form input+label.active {
    transform: translateY(-140%);
}

.button-rounded {
    height: 3rem !important;
    width: 3rem !important;
    border-radius: 50% !important;
}

.button-rounded i {
    font-size: 1.5rem;
    line-height: 2rem;
}

.no-reaction {
    pointer-events: none;
}